<h1>About Us</h1>
<div class="outline">
	<div class="text">
		<br />
		<p>Our goal is to bring some organization to the world of online sports betting.  There are a huge number of sites, thousands of them at least and a wide range in the quality of the sports betting sites and companies out there.  There is great deal of vig variation across the range of sites.  Our goal is to bring all the options together on one site, and provide you the best lines current lines to bet on.</p><br /> <br />
		<p>We only display lines from sites who receive an A rating from <a href="http://www.sportsbookreview.com/Sportsbooks+Ratings/Rating/" target="_new">Sports Book Review</a>.  We're starting small, so we currently only have a limit number of these sites.  We'll continue to add sites, and we'd appreciate your <a href="/contacts/new">input</a> on which sites you'd like to see on Best Bet Finder. </p>
	</div>
</div>