<h1>FAQ</h1>
<div class="outline">
	<div class="text">
	<br />
	<p><b>What does this site do?</b></p><br />
	<p>There is an amazing amount of variation in the vig (or odds) of different betting sites out there.  We simply pull it all together, so you can find it all in one place.  We let you choose your best deal when you place your bet.</p><br /><br />
	<p><b>I just checked this site and the vigs are different then the actual betting site.  What gives?</b></p><br />
	<p>Each betting site has their own reasons for setting their odds.  These odds change, and often change very quickly.  The site you place you bet on is the definitive source for odds, so please verify before you place your bet!</p><br /><br />
	<p><b>Why have we chosen these sites?</b></p><br />
	<p>There are a wide variety of different types of online betting establishments.  We know this and we don't want to recommend lines from sites that are not trust worthy.  We are only using sites that receive at least an A rating from <a href="http://www.sportsbookreview.com/Sportsbooks+Ratings/Rating/" target="_new">Sports Book Review</a>.  We're starting small, and as we grow, our focus will remain on this list of top quality sites.</p><br /><br />
	<p><b>This site is ok, but it would be great if it did....</b></p><br />
	<p>We welcome feedback & comments from you.  Feel free to <a href="/contacts/new">contact</a> us with your thoughts, feedback and recommendations.  We may not use all your recommendations, but we'd greatly appreciate your feedback on how we can make this site better. </p><br /><br />
	</div>
</div>