<p>
  <b>Betting site:</b>
  <%=h @referal.betting_site_id %>
</p>

<p>
  <b>Game:</b>
  <%=h @referal.game_id %>
</p>


<%= link_to 'Edit', edit_referal_path(@referal) %> |
<%= link_to 'Back', referals_path %>
