<script>
    $(document).ready(function(){
	    $(".sports").click(function() {
		    var checked_status = this.checked;
		    $("."+this.id).each(function() {
		    	this.checked = checked_status;
		    });
	    });
	
		
    });
</script>

<h1>Account Information</h1>
<div>Please select the betting sites and teams you'd like to have displayed on your account.</div>

<div style="float:left;padding:10px 20px;">
<% form_for(@user_betting_site) do |f| %>
  <%= display_checkboxes(@user_betting_sites, @betting_sites, "betting_site_id") %>
  <br />
  <p><input type="submit" value="Save">
<% end %>
</div>
<div style="float:left;padding:10px 20px;">
	<% form_for(@user_team) do |f| %>
	  <%= display_sports_checkboxes(@user_teams, @sports, @user_team) %>
	  <br />
	  <p><input type="submit" value="Save">
	<% end %>
</div>
<div style="clear:both"></div>