<p>
  <b>Synonym:</b>
  <%=h @team_synonym.synonym %>
</p>

<p>
  <b>Team:</b>
  <%=h @team_synonym.team_id %>
</p>


<%= link_to 'Edit', edit_team_synonym_path(@team_synonym) %> |
<%= link_to 'Back', team_synonyms_path %>
