<h1>New betting_site</h1>

<% form_for(@betting_site) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', betting_sites_path %>
